/* Global Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Red Hat Display', serif;
}
/* Global Styling */

/* Logo Styling */
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Header Styling */
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 55px;
    max-width: 100%;
}

/* Header Content Styling */
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.header-content h1, p{
    text-align: center;
}

.header-content h1{
    font-size: 64px;
    line-height: 0.9;
}

.header-content p{
    font-size: 18px;
}

.faces-left{
    display: block;
}

.faces-right{
    display: block;
}

.mobile-faces{
    display: none;
}

/* Header Buttons Styling */
.header-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-buttons a{
    line-height: 3.2;
    cursor: pointer;
}

.header-buttons .download{
    width: 195px;
    height: 55px;
    border-radius: 25px;
    background-color: #4D96A9;
    color: white;
    text-align: center;
    text-decoration: none;
}

.header-buttons .information{
    width: 195px;
    height: 55px;
    border-radius: 25px;
    background-color: #855FB1;
    color: white;
    text-align: center;
    text-decoration: none;
}


/* Vertical Line & Cirlce Styling */

.circle-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.vertical-line{
    border-left: 1px solid #D1D1DF;
    height: 80px;
}

.circle{
    height: 55px;
    width: 55px;
    background-color: white;
    border: 1px solid #D1D1DF;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    color: #87879D;
    font-weight: 800;
    letter-spacing: 2px;
}

/* Main Container styling */

/* Main images styling */

.main-container{
    justify-items: center;
}

.main-images{
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.main-images *{
    width: 256px;
    height: 256px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Main Content Styling */
.main-content{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.main-content h2{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.main-content p{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
}

/* Circle-Line 2 Styling */
.circle-line-2{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 25px;
}

.vertical-line{
    border-left: 1px solid #D1D1DF;
    height: 80px;
}

.circle{
    height: 55px;
    width: 55px;
    background-color: white;
    border: 1px solid #D1D1DF;
    border-radius: 50%;
    text-align: center;
    line-height: 3.5;
    color: #87879D;
    font-weight: 800;
    letter-spacing: 2px;
}


/* Footer Styling */
.footer-container{
    display: flex;
    min-height: 300px;
    height: 300px;
    width: auto;
    background-image: url("assets/desktop/image-footer.jpg") ;
    background-color: #4D96A9;
    background-blend-mode: soft-light;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.footer-container *{
    color: white;
}

.footer-container h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}

.footer-container p{
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    text-align: start;
}

.footer-container a{
    width: 195px;
    height: 55px;
    border-radius: 25px;
    background-color: #855FB1;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 3;
    cursor: pointer;
}

/* Phone Styling */
@media screen and (max-width: 700px) {

    
    /* Faces portion */
    /* Switch header picture of faces */
    .faces-left{
        display: none;
    }

    .faces-right{
        display: none;
    }

    .mobile-faces{
        display: flex;
        justify-content: center;
        margin-top: 64px;
    }

    .mobile-faces img{
        width: 413px;
        height: 140px;
    }
    
    /* Header Container */

    .header-container{
        justify-content: center;
    }

    /* Header Content Styling */
    .header-content{
        width: 85%;
        justify-content: center;
    }

    .header-content h1{
        font-size: 40px;
    }

    .header-content p{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header-buttons{
        flex-direction: column;
        align-items: center;
    }
    
    .header-buttons .download{
        margin-bottom: 15px;
    }

    /* Main Container Styling */
    
    /* Main Images - 4 Pictures of people using the product */
    .main-images{
        flex-wrap: wrap;
    }

    .main-images img{
        width: 145px;
        height: 145px;
        margin-bottom: 20px;
    }

    /* Main Content */
    .main-content{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .main-content h5{
        margin-top: 40px;
    }

    .main-content h2{
        margin: 0;
        margin-top: 20px;
        width: 80%;
        font-size: 32px;
    }

    .main-content p{
        margin: 0;
        margin-top: 20px;
        width: 80%;
    }

    /* Footer Styling */
    .footer-container{
        flex-direction: column;
        height: 375px;
        padding: 0px;
        background-image: url("assets/mobile/image-footer.jpg");
        background-color: #4D96A9;
        background-blend-mode: soft-light;

        /* background-size: cover makes the whole image fit  */
        background-size:cover; 

        /* background-repeat: no-repeat stops the image from repeating */
        background-repeat: no-repeat;

        /* background-position: top pushes the image to the top */
        background-position: top;
    }

    .footer-container h2{
        width: 100%;
        font-size: 32px;
        text-align: center;
        position: relative;
        top: 20px;
    }

    .footer-container p{
        width: 100%;
        text-align: center;
        width: 77%;
    }

    .footer-container a{
        position: relative;
        bottom: 25px;
    }
}

/* Phone Styling */
@media screen and (max-width: 1200px) and (min-width:701px){

    /* Faces portion */
    /* Switch header picture of faces */
    .faces-left{
        display: none;
    }

    .faces-right{
        display: none;
    }

    .mobile-faces{
        display: flex;
        justify-content: center;
        margin-top: 64px;
    }

    .mobile-faces img{
        width: 100%;
        height: auto;
    }

    /* Header Container */

    .header-container{
        justify-content: center;
    }

    /* Header Content Styling */
    .header-content{
        width: 85%;
        justify-content: center;
    }

    .header-content h1{
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
        font-size: 40px;
        font-weight: 800;
    }

    .header-content p{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;

        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .header-buttons{
        flex-direction: row;
        justify-content: center;
    }

    .information{
        margin-left: 20px;
    }
    .main-images{
        flex-wrap: wrap;
    }

    .main-images img{
        width: 145px;
        height: 145px;
        margin-bottom: 20px;
    }

    /* Main Content */
    .main-content{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-items: center;
    }

    .main-content h2{
        font-weight: 900;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
    }

    .main-content p{
        width: 100%;
    }

    .footer-container{
        flex-direction: column;
        height: 320px;
        padding: 0px;
        background-image: url("assets/tablet/image-footer.jpg");
    }

    .footer-container h2{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        font-weight: 800;
    }

    .footer-container p{
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        text-align: center;
    }

    .footer-container a{
        margin-bottom: 15px;
    }
}