/* Global Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Red Hat Display', serif;
}

.flex-container{
    display: flex;
    width: 100%;
}

/* Top logo styling */
.flex-container-logo{
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: center;
}

/* Header Styling - avatars, main header, description, download & what is it buttons */

.flex-container-header{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.flex-container-header img{
    width: 395px;
    height: 305px;
}

.avatars-left{
    position: relative;
    right: 25px;
}

.avatars-right{
    position: relative;
    left: 25px;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Header styling */
.flex-container-header h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 110%;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
}

/* Header description styling */
.flex-container-header p{
    margin-left: 120px;
    margin-right: 120px;
    color: #87879D;
    text-align: center;
}

/* Header buttons styling */
.header-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-buttons-div a{
    height: 55px;
    width: 195px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    line-height: 3.5;
    border-radius: 25px;
    margin: 5px;
}

.header-download{
    background-color: #4D96A9;
}

.header-what-is-it{
    background-color: #855FB1;
}
